.detail-card {
  height: calc(100vh - 180px);
  min-height: 500px;
}

mat-card-title {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
}

mat-card-actions {
  button {
    margin-left: 15px;
  }
}

p {
  text-align: justify;
}
