.company {
  font-weight: 600;
  font-size: 17px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.catchword {
  font-size: 14px;
}

.premium {
  color: yellow;
  margin: 2px 5px 0px 0px;
}

.logout {
  margin-left: 20px;
}
